@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /*Primary color*/
  --color-ocean-50: #e7f4ff; /* Lightest (shallow water) */
  --color-ocean-100: #d3ecff;
  --color-ocean-200: #b1d9ff;
  --color-ocean-300: #82beff; /* Mid-tone */
  --color-ocean-400: #5193ff;
  --color-ocean-500: #2967ff; /* Primary action (CTA) */
  --color-ocean-600: #0536ff;
  --color-ocean-700: #0032ff; /* Darker (deep ocean) */
  --color-ocean-800: #012bd2;
  --color-ocean-900: #0c2ea3;
  --color-ocean-950: #030a26; /* Darkest (abyss) */

  /*primary depth btn*/
  --color-depth-btn-border: #0032ff;
  --color-depth-btn-border-active: #0c2ea3;

  /* Secondary color */
  --color-lavender-50: #eff2fe; /* Lightest (whisper) */
  --color-lavender-100: #e2e9fd;
  --color-lavender-200: #cad5fb;
  --color-lavender-300: #b8c5f9; /* Mid-tone */
  --color-lavender-400: #8794f2;
  --color-lavender-500: #6a71ea; /* Secondary actions */
  --color-lavender-600: #524edd;
  --color-lavender-700: #453fc3; /* Darker (twilight) */
  --color-lavender-800: #39369d;
  --color-lavender-900: #33327d;
  --color-lavender-950: #1f1d49; /* Darkest (midnight) */

  /* Success (Growth) - "Moss" */
  --color-moss-50: #f0fdf5;
  --color-moss-100: #dcfce8;
  --color-moss-200: #bbf7d1;
  --color-moss-300: #86efac;
  --color-moss-base: #4ade80;
  --color-moss-500: #22c55d;
  --color-moss-600: #16a349;
  --color-moss-700: #15803c;
  --color-moss-800: #166533;
  --color-moss-900: #14532b;
  --color-moss-950: #052e14;

  /* Error (Urgent) - “Carnation” */
  --color-carnation-50: #fef2f2;
  --color-carnation-100: #fee2e2;
  --color-carnation-200: #fecaca;
  --color-carnation-300: #fca5a5;
  --color-carnation-base: #f87171;
  --color-carnation-500: #ef4444;
  --color-carnation-600: #dc2626;
  --color-carnation-700: #b91c1c;
  --color-carnation-800: #991b1b;
  --color-carnation-900: #7f1d1d;
  --color-carnation-950: #450a0a;

  /* Warning (Caution) - "Honey" */
  --color-honey-50: #fff9eb;
  --color-honey-100: #feefc7;
  --color-honey-200: #fddd8a;
  --color-honey-300: #fccb4d;
  --color-honey-base: #fbbf24; /* Base */
  --color-honey-500: #f5b40b;
  --color-honey-600: #d99e06;
  --color-honey-700: #b48409;
  --color-honey-800: #926d0e;
  --color-honey-900: #785b0f;
  --color-honey-950: #453303;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}




